
@using Studentski_hotel.Models.Kuhinja

@model DetaljiKarticeVM

<style>
    .card-data {
        width: 45%;
        padding: 30px;
        border: 1px solid black;
        border-radius: 20px;
        margin-bottom: 20px;
    }

        .card-data div {
            margin-bottom: 5px;
        }

    .upozorenje {
        width: 100%;
        padding: 12px 10px 12px 14px;
        line-height: 17px;
        border-radius: 12px;
        background: #efedf8;
        border: 1px solid red;
        margin-top: 16px;
    }

    .info {
        color: #5d44b6;
    }

    .container {
        display: flex;
        justify-content: space-between;
        width: auto !important;
    }

    #iznos {
        border: 0;
        outline: 0;
    }

        #iznos:focus {
            outline: 0 !important;
            border-width: 0px;
        }

    .submit {
        text-align: right;
        margin-top: 12px;
    }

    .red {
        color: red !important;
    }

    .btn-disabled {
        pointer-events: none;
        cursor: not-allowed;
        background: lightgray;
        color: red;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .chosen-container {
        width: 220px !important;
    }
    .d-flex {
        justify-content: center !important;
    }
</style>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<form class="container" asp-action="SkiniObrok" asp-controller="Kuhinja">
    <fieldset class="d-flex small card-data">
        <legend style="font-size:20px;width:120px;text-align:center">Detalji kartice</legend>
        <div style="margin-right:30px">
            <div class="form-group">
                <label>Broj kartice</label>
                <input readonly asp-for="BrojKartice" class="form-control form-control-sm" />
            </div>
            <div class="form-group">
                <label>Student</label>
                <input readonly asp-for="StudentIme" class="form-control form-control-sm" />
            </div>
            <div class="form-group">
                <label>Tip studenta</label>
                <input readonly asp-for="TipStudenta" class="form-control form-control-sm" />
            </div>
            <div class="form-group">
                <label>Stanje na kartici</label>
                @if (Model.StanjeKartice < 2 || Model.RedFlag)
                {
                    <input readonly asp-for="StanjeKartice" class="form-control form-control-sm red" />

                }
                else
                {
                    <input readonly asp-for="StanjeKartice" class="form-control form-control-sm" />
                }
            </div>
            @if (Model.RedFlag)
            {
                <div class="form-group upozorenje">
                    <p class="info"> *Student nije izmirio svoje obaveze prema domu do desetog u mjesecu</p>
                    <span>@Model.StudentID</span>
                </div>
            }
        </div>

    </fieldset>

    <fieldset class="d-flex small card-data">
        <legend style="font-size:20px;width:120px;text-align:center">Detalji obroka</legend>
        <div>
            <div style="display: none" class="form-group">
                <label>Obrok id</label>
                <input asp-for="ObrokID" class="form-control form-control-sm" />
            </div>
            <div class="form-group">
                <label>Detalji obroka</label>
                <br/>
                @Html.ListBoxFor(m=> m.selectedArtikals, new MultiSelectList(Model.ObrokListOptions, "ArtikalID", "NazivCijenaArtikla"),
                new { @class = "chosen-article" }
               )
            </div>
            <div class="form-group">
                <label>Iznos obroka</label>
                <input id="iznos" readonly value="0" asp-for="IznosObroka" class="form-control form-control-sm" />
            </div>
            <div class="form-group submit">
                <button class="@((Model.StanjeKartice < 2 || Model.RedFlag ? "btn-disabled": "btn-sucess"))">Skini obrok</button>
            </div>
        </div>
    </fieldset>
</form>

<link rel="stylesheet" href="~/lib/Chosen/dist/css/chosen.min.css" />
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/Chosen/dist/js/chosen.jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
    (function ($) {

        $('.chosen-article').chosen()
        var iznos = document.getElementById("iznos");
        $('.chosen-article').change(function () {
            let accumulator = 0;

            $(this).find('option:selected').each(function () {
                var selected = $(this).text();
                var emptySpaceIndex = selected.lastIndexOf(" ");
                var takeNumberValue = selected.substring(selected.length, emptySpaceIndex + 1);
                accumulator += parseFloat(takeNumberValue);
            });

            iznos.value = accumulator;
        });

    })(jQuery);
</script>

