@using Studentski_hotel.Models.Recepcija

@model EditBlackListVM
<style>
    form {
        margin-top: 5%;
    }
</style>
<form asp-action="SnimiRazlog" asp-controller="Recepcija">
    @*<div style="display:none">
        <label></label>
        <br />
        <input asp-for="StudentID" />
    </div>*@
    <div class="form-group">
        <label>Student : </label><br />
        <select asp-for="StudentID" asp-items="@Model.Studenti" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Crna lista kategorije : </label><br />
        <select asp-for="BlackListID" asp-items="@Model.BlackList" class="form-control"></select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1"> Tekst Obavijesti</label>
        <textarea asp-for="Razlog" maxlength="1000" class="form-control" id="exampleFormControlTextarea1" rows="3" style="height:200px"></textarea>
    </div>


    <input type="submit" value="Snimi" class="btn btn-info" style="float:right" />
</form>