@model Studentski_hotel.Models.Recepcija.FilterStudenataNeplacenoVM

    <style>
        .btn-pregled {
            background-color: #567d5d;
            color: white;
        }

            .btn-pregled:hover {
                color: white;
                background-color: #263829;
            }

        .btn-success {
            float: right;
        }

        a.delete {
            color: red;
        }

        .sub-header {
            margin-bottom: 20px;
        }

        .studenti-fini {
            color: royalblue;
            font-size: 24px;
        }

        .container {
            max-width: 700px;
        }

        .email-data {
            width: 60%;
            border: 1px solid black;
            padding: 20px;
            justify-content: center;
            border-radius: 20px;
        }
    </style>

<h2> Tretutni datum je : @Model.CurrentDate </h2>

<h4 class="sub-header">Lista studentata koji nisu platili ovaj mjesec</h4>

<fieldset class="d-flex small email-data">
    <legend style="font-size:20px;width:120px;text-align:center">Box za slanje upozorenja</legend>
    <div style="margin-right:30px">
        <div class="form-group  ">
            <label>Adresa</label>
            <input asp-for="email" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <label>Sadrzaj Emaila</label>
             <textarea asp-for="sadrzajEmaila" maxlength="1000" class="form-control" id="exampleFormControlTextarea1" rows="3" style="height:100px"></textarea>
        </div>

        <button class="btn btn-danger" onclick="window.location='/Recepcija/PosaljiUpozorenje'">Posalji mail</button>
    </div>

 </fieldset>

    <table class="table table-borderless table-striped">
        <thead>
            <tr>
                <th>Student</th>

                <th>Mjesec zadnje uplate</th>
            </tr>
        </thead>
        @if (Model.studentiNisuUplatili != null && Model != null)
        {

            @foreach (var uplata in Model.studentiNisuUplatili)
            {
                <tr>
                    <td>@uplata.EmailStudenta</td>

                    <td>@uplata.Mjesec</td>

                    <td><button class="btn btn-pregled" onclick="window.location=''">Obrisi s liste</button></td>
                </tr>
            }
        }
        else
        {

            <h4 class="studenti-fini">Svi su studenti izmirili svoje obveze</h4>
        }

    </table>
