@using Studentski_hotel.Models.Recepcija

@model PregledObavijesti


<style>
    .sekcija {
        border-bottom: 1px solid lightblue;
    }

    .tekst {
        text-align: left;
        margin-top: 35px;
    }

    .sve {
        width: 70%;
        padding: 5px;
        margin: auto;
        margin-top: 10%;
    }

    span {
        color: grey;
    }

    button {
        float: right;
    }

    .btn-light {
        position: absolute;
        top: 80px;
        left: 260px;
    }
</style>

<partial name="_BackButtonPartial" />


<div class="sve">
    <div class="sekcija">
        <h4>Obavijesti/@Model.Naslov</h4>
        <span>@Model.DatumObj @Model.ImeRecepcionera</span>
    </div>
    <div class="tekst">
        @Model.Text
    </div>
    <br />
    <button class="btn btn-outline-info" onclick="window.location='/Recepcija/EditObavijest?obavijestID=' + @Model.obavijestID">Edit Obavijest</button>
</div>

