@{
    Layout = null;
}
@model Studentski_hotel.Models.Recepcija.PrikazStudenataVM

<style>
    .btn-pregled{
        background-color: #567d5d;
        color: white;
    }

    .btn-pregled:hover {
        color: white;
        background-color: #263829;
    }
</style>
<table class="table table-borderless table-striped">
    <thead>
        <tr>
            <th>Ime i prezime</th>

            <th>Broj sobe</th>
            <th>Broj kartice</th>

            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.Studenti)
    {
        <tr>
            <td>@item.Ime @item.Prezime</td>
            @if (item.Uselio)
            {


                <td>@item.Soba</td>


                <td>@item.BrojKartice</td>
            }
            else
            {
                <td>/</td>
                <td>/</td>
            }
            <td><button class="btn btn-pregled" onclick="window.location='/Recepcija/DetaljiPrikazStudenata?StudentID='+@item.ID">Pregled</button></td>
        </tr>
    }


</table>