
<style>
    .naslov {
        border-bottom: 1px dashed green;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        padding-bottom: 22px;
    }

    h2 {
        text-align: left;
    }

    #InputBox {
        width: 220px;
    }
    .nova {
        position: absolute;
        right: 10px;
        top: 70px;
    }
</style>
<div class="naslov">
    <h2>Obavijesti Studentskog hotela</h2>

    <input id="InputBox" type="text" class="form-control" placeholder="Pretraga po naslovu" name="pretraga" oninput="Pretraga()" />
</div>

<button class="btn btn-success nova" onclick="window.location='/Recepcija/EditObavijest'"> Dodaj obavijest +</button>


<div id="TabelaDiv">

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var Pretraga = () => {
        $.get("/Recepcija/PrikazObavijesti", { pretraga: $("#InputBox").val() }, function (data) {
            $("#TabelaDiv").html(data);
        })
    }
    Pretraga();
</script>
