
@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<style>
    body {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url("https://cf.bstatic.com/images/hotel/max1024x768/266/266481519.jpg");
        margin: 0;
    }

    section {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.7);
        height: 100vh;
    }

    .info-wrapper {
        display: flex;
        width: 80%;
        height: 65vh;
        border: 1px solid white;
        align-items: center;
    }

    .info-content {
        width: 50%;
        height: 50vh;
        border-radius: 20px;
        color: white;
        padding: 10px;
    }
</style>

<section>

    <div class="info-wrapper">
        <div class="info-content">
            <h3 style="margin-bottom:40px;margin-top:10px">Studentski hotel Mostar</h3>
            <p style="margin-bottom:40px">Studentski hotel Mostar raspolaže smještajnim kapacitetom od 960 ležajeva. Studentski dom ima 192 dvokrevetne i 192 trokrevetne sobe koje raspolažu vlastitim higijensko-sanitarnim čvorom. Kvadratura dvokrevetnih soba je 14,40 m2 a trokrevetnih 18 m2. U domu postoji prostor za edukativne sadržaje, čitaonica, biblioteka, multimedijalni centar sa priručnom bibliotekom, fitnes, vešeraj, kopirnica, stomatološka ordinacija, studentska ambulanta, uredno uređeni parkovi, prostor za obavljanje vjerskih aktivnosti i restoran sa kuhinjom.</p>
            <button class="btn btn-primary" onclick="window.location='/Konkurss/KonkursForma'">Postani stanar</button>

        </div>

        <div class="info-content">
            <h3 style="margin-bottom:40px;margin-top:10px;margin-left:25px;">Sadržaj doma:</h3>
            <ul>
                <li>čitaonica</li>
                <li>biblioteka</li>
                <li>multimedijalni centar sa priručnom bibliotekom</li>
                <li>fitnes</li>
                <li>vešeraj</li>
                <li>kopirnica</li>
                <li>prostor za obavljanje vjerskih aktivnosti</li>
                <li>caffe bar</li>
                <li>restoran</li>
            </ul>
        </div>
    </div>
</section>


