<!DOCTYPE html>
<style>
    .wrapper {
        margin-left: 210px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100vh;
    }

    footer {
        text-align: center;
        width: 100%;
        line-height: 60px;
    }

    .privacy {
        float: none;
    }

    
</style>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Studentski_hotel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: #aefdbb">
    <partial name="_FixedNavBarPartial" />

    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3" style="background-color: #263829;">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />

                </div>
            </nav>
        </header>

        <div class="container">
            <main role="main" class="pb-3 main">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top text-muted">
            &copy; 2021 - Studentski_hotel - <a class="privacy" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
