<style>
    .btn-nav {
        margin: 10px;
        width: 20%;
        color: white;
        background-color: #567d5d;
    }

        .btn-nav:hover {
            color: white;
            background-color: #263829;
</style>


<div class="d-flex flex-row bd-highlight mb-lg-5" style="justify-content:center;">
    <button class="p-2 bd-highligh btn  btn-nav" onclick="window.location='/Identity/Account/Manage'">Postavke</button>
    <button class="p-2 bd-highligh btn  btn-nav" onclick="window.location='/Student/PregledLicniPodataka'">Licni podaci</button>
    <button class="p-2 bd-highligh btn btn-nav" onclick="window.location='/Student/Uplate'">Uplate</button>
</div>