@using Studentski_hotel.Models.Student

@model DodajSLikuVM
<style>
    .upload-photo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 300px;
        box-shadow: 0px 10px 20px grey;
        border-radius: 24px;
        align-items: center;
    }

    .form-control {
        display: none;
    }
</style>

<div class="upload-photo">
    <p>Slika je dozvoljena u formatima jpg/jpeg ili png</p>

    <img src="~/images/placeholder-image.svg" width="160" height="160" class="rounded d-block"/>
    <form id="forma" asp-action="DodajSliku" enctype="multipart/form-data">
        <div class="custom-file mb-3">

            <input id="file" asp-for="NovaSlika" accept=".jpg,.jpeg,.png" class="custom-file-input" type="file" name="NovaSlika" />
            <input asp-for="ImeSlike" class="form-control" />
            <label class="custom-file-label" for="NovaSlika">Upload photo</label>

        </div>

    </form>

</div>

<script src="/lib/jquery/dist/jquery.js"></script>

<script>
    $(".custom-file-input").on("change", function (e) {
        $("#forma").submit();
        console.log(e.target.files[0], 'ovo drugo');


    });

</script>




